parameters:
    tmpDir: build/phpstan
    level: 6
    paths:
        - app
        - tests
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Test/bootstrap.php
    scanDirectories:
        - app/Helpers
        - modules/Analytics/Helpers
        - modules/Fediverse/Helpers
        - vendor/codeigniter4/framework/system/Helpers
        - vendor/myth/auth/src/Helpers
    excludePaths:
        - app/Libraries/Router.php
        - app/Views/*
        - modules/*/Views/*
        - themes/*
    ignoreErrors:
        - '#Cannot access property [\$a-z_]+ on ((array\|)?object)#'
        - '#^Call to an undefined method CodeIgniter\\Database\\BaseBuilder#'
        - '#^Call to an undefined method CodeIgniter\\Database\\ConnectionInterface#'
        - '#^Call to an undefined method CodeIgniter\\Model#'
        - '#^Access to an undefined property App\\Entities\\Media\\Image#'
        - '#^Access to an undefined property CodeIgniter\\Database\\BaseBuilder#'