parameters:
    tmpDir: build/phpstan
    level: 6
    checkGenericClassInNonGenericObjectType: false
    paths:
        - app
        - modules
        - tests
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Test/bootstrap.php
    scanDirectories:
        - app
        - modules
        - vendor/codeigniter4
    excludePaths:
        - app/Libraries/Router.php
        - app/Views/*
        - modules/*/Views/*
        - themes/*
    codeigniter:
        additionalConfigNamespaces:
            - Modules\Admin\Config\
            - Modules\Analytics\Config\
            - Modules\Api\Rest\V1\Config\
            - Modules\Auth\Config\
            - Modules\Fediverse\Config\
            - Modules\Install\Config\
            - Modules\Media\Config\
            - Modules\MediaClipper\Config\
            - Modules\Plugins\Config\
            - Modules\PodcastImport\Config\
            - Modules\PremiumPodcasts\Config\
            - Modules\WebSub\Config\
            - ViewThemes\Config\
            - Vite\Config\
        additionalModelNamespaces:
            - Modules\Analytics\Models\
            - Modules\Auth\Models\
            - Modules\Fediverse\Models\
            - Modules\Media\Models\
            - Modules\PremiumPodcasts\Models\
            - CodeIgniter\Shield\Models\
        additionalServices:
            - CodeIgniter\Settings\Config\Services
            - CodeIgniter\Shield\Config\Services
            - Michalsn\Uuid\Config\Services
            - Modules\Media\Config\Services
            - Modules\Platforms\Config\Services
            - Modules\Plugins\Config\Services
            - Modules\PremiumPodcasts\Config\Services
    ignoreErrors:
        - '#^Call to an undefined method CodeIgniter\\Cache\\CacheInterface\:\:deleteMatching\(\)#'
