stages:
  - build

docker-build-rolling:
  stage: build
  image:
    name: docker.io/docker:29.2-dind
  services:
    - docker:29.2-dind
  variables:
    TAG: $CI_COMMIT_BRANCH
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    # ensure the Docker config directory exists
    - mkdir -p /root/.docker
    # copy credentials to authenticate against registry
    - cp ${DOCKER_HUB_CONFIG} /root/.docker/config.json

    - docker context create tls-environment

    # Create and use builder with optimized settings
    - docker buildx create
      --name fast-multiplatform
      --driver docker-container
      --driver-opt network=host
      --driver-opt image=moby/buildkit:v0.27.1
      --use
      tls-environment

    # initialize and boot fast-multiplatform builder
    # configure BuildKit features that aren't enabled by default
    - docker buildx inspect --bootstrap
  script:
    - docker buildx build
      --target production
      --secret id=maxmind-licence-key,env=MAXMIND_LICENCE_KEY
      --platform linux/amd64
      --file docker/production/Dockerfile
      --push
      --tag ${DOCKER_IMAGE_CASTOPOD}:${TAG}
      .
  rules:
    - if: $CI_COMMIT_BRANCH == 'develop'

docker-build-release:
  stage: build
  image:
    name: docker.io/docker:29.2-dind
  services:
    - docker:29.2-dind
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    # ensure the Docker config directory exists
    - mkdir -p /root/.docker
    # copy credentials to authenticate against registry
    - cp ${DOCKER_HUB_CONFIG} /root/.docker/config.json

    # extract Castopod version from tag (remove "v" prefix)
    - export CP_VERSION=$(echo "$CI_COMMIT_TAG" | sed 's/^v//')
    # extract pre release identifier (eg. alpha, beta, next, ...) from CP_VERSION or "latest" if none exists
    - export CP_TAG=$(echo "$CP_VERSION" | sed 's/^[^-]*-\([^.]*\)\..*/\1/; t; s/.*/latest/')

    - docker context create tls-environment

    # Create and use builder with optimized settings
    - docker buildx create
      --name fast-multiplatform
      --driver docker-container
      --driver-opt network=host
      --driver-opt image=moby/buildkit:v0.27.1
      --use
      tls-environment

    # initialize and boot fast-multiplatform builder
    # configure BuildKit features that aren't enabled by default
    - docker buildx inspect --bootstrap
  script:
    # build multiplatform image for amd64 and arm64
    - docker buildx build
      --target production
      --secret id=maxmind-licence-key,env=MAXMIND_LICENCE_KEY
      --platform linux/amd64,linux/arm64
      --file docker/production/Dockerfile
      --push
      --tag ${DOCKER_IMAGE_CASTOPOD}:${CP_VERSION}
      --tag ${DOCKER_IMAGE_CASTOPOD}:${CP_TAG}
      --progress=plain
      .
  rules:
    - if: $CI_COMMIT_TAG
