/* ===============================
=            Choices            =
=============================== */

@layer components {
  .choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .choices:focus {
    outline: none;
  }

  .choices:last-child {
    margin-bottom: 0;
  }

  .choices.is-disabled .choices__inner,
  .choices.is-disabled .choices__input {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
  }

  .choices.is-disabled .choices__item {
    cursor: not-allowed;
  }

  .choices [hidden] {
    display: none !important;
  }

  .choices[data-type*="select-one"] {
    cursor: pointer;
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 7.5px;
  }

  .choices[data-type*="select-one"] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid hsl(var(--color-border-subtle));
    background-color: hsl(var(--color-background-elevated));
    margin: 0;
  }

  .choices[data-type*="select-one"] .choices__button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%236B7280'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z'/%3E%3C/svg%3E");
    padding: 0;
    background-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    opacity: 0.5;
  }

  .choices[data-type*="select-one"] .choices__button:hover,
  .choices[data-type*="select-one"] .choices__button:focus {
    opacity: 1;
  }

  .choices[data-type*="select-one"] .choices__button:focus {
    box-shadow: 0 0 0 2px #00bcd4;
  }

  .choices[data-type*="select-one"]
    .choices__item[data-value=""]
    .choices__button {
    display: none;
  }

  .choices[data-type*="select-one"]::after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: hsl(var(--color-text-muted)) transparent transparent
      transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
  }

  .choices[data-type*="select-one"].is-open::after {
    border-color: transparent transparent hsl(var(--color-text-muted))
      transparent;
    margin-top: -7.5px;
  }

  .choices[data-type*="select-one"][dir="rtl"]::after {
    left: 11.5px;
    right: auto;
  }

  .choices[data-type*="select-one"][dir="rtl"] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
  }

  .choices[data-type*="select-multiple"] .choices__inner,
  .choices[data-type*="text"] .choices__inner {
    cursor: text;
  }

  .choices[data-type*="select-multiple"] .choices__button,
  .choices[data-type*="text"] .choices__button {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    padding-left: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z'/%3E%3C/svg%3E");
    background-size: 16px;
    width: 8px;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
  }

  .choices[data-type*="select-multiple"] .choices__button:hover,
  .choices[data-type*="select-multiple"] .choices__button:focus,
  .choices[data-type*="text"] .choices__button:hover,
  .choices[data-type*="text"] .choices__button:focus {
    opacity: 1;
  }

  .choices__inner {
    @apply p-2 rounded-lg border-contrast bg-elevated border-3;

    box-shadow: 2px 2px 0 hsl(var(--color-border-contrast));
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 16px;
    min-height: 42px;
    overflow: hidden;
  }

  .choices[data-type*="select-multiple"] .choices__inner {
    @apply pb-1;
  }

  .is-focused .choices__inner,
  .is-open .choices__inner {
    @apply ring-accent ring-inset;
  }

  .is-open .choices__inner {
    @apply rounded-b-none;
  }

  .is-flipped.is-open .choices__inner {
    @apply rounded-t-none rounded-b-lg border-b-3;
  }

  .choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .choices__list--single {
    @apply inline-block w-full pr-4;
  }

  [dir="rtl"] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
  }

  .choices__list--single .choices__item {
    width: 100%;
  }

  .choices__list--multiple {
    display: inline;
  }

  .choices__list--multiple .choices__item {
    @apply inline-block px-2 py-1 mb-1 mr-1 text-sm align-middle rounded text-accent-contrast bg-accent-base;

    word-break: break-all;
    box-sizing: border-box;
  }

  .choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
  }

  [dir="rtl"] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
  }

  .choices__list--multiple .choices__item.is-highlighted {
    @apply bg-accent-base;
  }

  .is-disabled .choices__list--multiple .choices__item {
    background-color: #aaa;
    border: 1px solid #919191;
  }

  .choices__list--dropdown {
    @apply z-50 border-2 shadow-lg border-contrast;

    display: none;
    position: absolute;
    width: 100%;
    background-color: hsl(var(--color-background-elevated));
    top: 100%;
    margin-top: -1px;
    overflow: hidden;
    word-break: break-all;
  }

  .choices__list--dropdown.is-active {
    display: block;
  }

  .is-open .choices__list--dropdown {
    @apply border-t-0 rounded-b-lg;
  }

  .is-flipped .choices__list--dropdown {
    @apply border-b-0 rounded-t-lg rounded-b-none border-t-3;

    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
  }

  .choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }

  .choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
  }

  [dir="rtl"] .choices__list--dropdown .choices__item {
    text-align: right;
  }

  @media (width >= 640px) {
    .choices__list--dropdown .choices__item--selectable {
      padding-right: 100px;
    }

    .choices__list--dropdown .choices__item--selectable::after {
      content: attr(data-select-text);
      font-size: 12px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    [dir="rtl"] .choices__list--dropdown .choices__item--selectable {
      text-align: right;
      padding-left: 100px;
      padding-right: 10px;
    }

    [dir="rtl"] .choices__list--dropdown .choices__item--selectable::after {
      right: auto;
      left: 10px;
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: hsl(var(--color-background-highlight));
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted::after {
    opacity: 0.5;
  }

  .choices__item {
    cursor: default;
  }

  .choices__item--selectable {
    cursor: pointer;
  }

  .choices__item--disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.5;
  }

  .choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: gray;
  }

  .choices__button {
    text-indent: -9999px;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .choices__button:focus {
    outline: none;
  }

  .choices__input {
    @apply mb-1 align-middle bg-elevated;

    display: inline-block;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    width: 1px;
    padding: 0;
  }

  .choices__input:focus {
    @apply outline-none;

    box-shadow: none;
  }

  [dir="rtl"] .choices__input {
    padding-right: 2px;
    padding-left: 0;
  }

  .choices__placeholder {
    opacity: 0.5;
  }
}

/* =====  End of Choices  ====== */
