@layer components {
  .post-content {
    & a {
      @apply text-sm font-semibold text-pine-600 hover:underline;
    }
  }

  .post-replies > * {
    @apply relative;

    & img {
      @apply z-20;
    }

    &:not(:last-child)::before {
      @apply absolute z-10 h-full bg-gray-300 top-8;
      content: "";
      left: 3rem;
      width: 2px;
    }
  }
}
