.chart-map {
  height: 600px;
  border: solid 10px #eee;
}
.chart-pie {
  height: 450px;
  width: 100%;
  border: solid 1px #eee;
}
.chart-xy {
  height: 500px;
  width: 100%;
  border: solid 1px #eee;
  border: solid 3px #eee;
}
