@layer base {
  /* kumbh-sans-regular */
  @font-face {
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("fonts/kumbh-sans-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/kumbh-sans-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* kumbh-sans-700 */
  @font-face {
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("fonts/kumbh-sans-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("fonts/kumbh-sans-700.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-regular */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("fonts/montserrat-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("fonts/montserrat-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-600 - latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("fonts/montserrat-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("fonts/montserrat-600.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}
